<div class="landing-container">
    <header>
        <div class="container">
          <h1>Welcome to Health Connect</h1>
          <p>Your health matters. A platform to connect with doctors for consultation and prescriptions.</p>
        </div>
    </header>

    <section class="info">
        <div class="container">
          <h2>About Our Website</h2>
          <p>
            This platform provides a seamless way for patients to connect with doctors online. As a patient, you can consult with a doctor,
            manage prescriptions, and get medical advice from the comfort of your home.
          </p>
        </div>
    </section>

    <section class="signup-options">
        <div class="container">
            <h2>Get Started</h2>
            <p>Choose your role:</p>
             <div class="buttons">
               <button class="patient-btn" routerLink="/patient/login">I'm a Patient</button>
               <button class="doctor-btn" routerLink="/doctor/login">I'm a Doctor</button>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
          <p>© 2025 HealthConnect By Prajakta | All Rights Reserved</p>
        </div>
    </footer>
</div>